<div class="home-container">
  <h1>Bem-vindo ao QBank!</h1>
  <i>
  <p>O QBank é um projeto de banco digital projetado para oferecer uma experiência moderna e eficiente na gestão
    de contas e transações financeiras.</p>
  <p>O QBank oferece funcionalidades como a criação, atualização e exclusão de contas e transações,
    além de uma interface intuitiva que permite a navegação entre as páginas de clientes, contas e transações.</p>
  </i>
  <p>Selecione uma das opções a seguir:</p>
  <button (click)="navigateToClients()">Clientes</button>
  <button (click)="navigateToAccounts()">Contas</button>
  <button (click)="navigateToTransactions()">Transações</button>
</div>
